@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog Add</h1>
@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Title")
    @Html.TextBoxFor(x=> x.BlogTitle, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogTitle)
    <br />
    @Html.Label("Blog Image")
    @Html.TextBoxFor(x=> x.BlogImage, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogImage)
    <br />
    @Html.Label("Thumbnail")
    @Html.TextBoxFor(x=> x.BlogThumbnailImage, new {@class = "form-control"})
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x=> x.CategoryID,(List<SelectListItem>)ViewBag.cv, new {@class = "form-control"})
    <br />
    @Html.Label("Content")
    @Html.TextAreaFor(x=> x.BlogContent, 15, 3, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogContent)
    <br />
    <button class="btn btn-info">Save</button>
}

